# Copyright (c) 2017, Lambda Kernel Project.
#
#              \
#              /\
#             /  \
#            /    \
#
# Lambda Kernel ".rc" Init Script - "lkrc"
#

on boot
    # Make sure the Wi-Fi driver is not loaded.
    rmmod wlan.ko
    # Mount the modules image at system/lib.
    mount ext4 loop@/data/modules.img /system/lib/modules noatime
    # Load the proper Wi-Fi driver.
    insmod /system/lib/modules/wlan.ko

# Spectrum property will trigger "lkt" and tune everything
# based on the previous profile since the property is
# persistent.
# When, there's no profile set, on first-boot with the Kernel,
# "lkt" will set it automatically.
service spectrum /sbin/lkt spectrum
    class late_start
    user root
    group root
    seclabel u:r:init:s0
    oneshot
    disabled

on property:sys.boot_completed=1
    # Set all the needed spectrum properties.
    start spectrum

# First spectrum profile: "balance".
on property:persist.spectrum.profile=0
    exec u:r:init:s0 root root -- /sbin/lkt balance

# Second spectrum profile: "performance".
on property:persist.spectrum.profile=1
    exec u:r:init:s0 root root -- /sbin/lkt performance

# Third spectrum profile: "battery".
on property:persist.spectrum.profile=2
    exec u:r:init:s0 root root -- /sbin/lkt battery

# Fourth spectrum profile: "gaming".
on property:persist.spectrum.profile=3
    exec u:r:init:s0 root root -- /sbin/lkt gaming
